body {
    background-color: rgb(95, 56, 83);
}

h1 {
    color:rgb(197, 6, 54);
    font-size: 3vw;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    text-align:center;
    
}

h2 {
    color:darkblue;
    text-align:center;
    font-size: 2vw;
}

p {
    color:rgb(7, 6, 7);
    font-size: 1vw;
    text-align:center;
    
}
#p1 {
    color:rgb(70, 9, 42);
    font-size: 1vw;
    text-align:center;
    font-style:italic;
    
}

#p2 {
    color:rgb(70, 9, 42);
    font-size: 1vw;
    text-align:center;
    font-style:italic;
    
    
}

#p3 {
    color:rgb(70, 9, 42);
    font-size: 1vw;
    text-align:center;
    font-style:italic;
    
    
}