body {
    background-color: rgb(223, 156, 203);
}

h1 {
    color:rgb(197, 6, 54);
    font-size: 3vw;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    text-align:center;
}

h2 {
    color:darkblue;
    font-size: 1vw;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    text-align:center;
}

p {
    color:rgb(178, 20, 199);
    font-size: 1vw;
    
}
#l1 {
    color:darkblue;
    font-size: 1vw;
    font-style:italic;
    font-weight:bold;
}

.l2 {
    color:rgb(138, 6, 105);
    front-size: 5vw;
    text-decoration: underline;
    
}
