#p1 {
    color:darkblue;
    font-size: 3vw;
    text-align:center;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
}


li {
    color:rgb(88, 110, 117);
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 100px;
}