body {
    background-color: rgba(5, 5, 5, 0.904);
}


h1 {
    color:rgb(197, 6, 54);
    font-size: 3vw;
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    text-align:center;
}

td{
    background-color: tomato;
    align-content: center;
    font-family: sukhumvit set;
    font-size: 15px;
    text-align: center;
    height: 50px;
    width: 100px;
}
